<!--includes/tree.html-->
{% for link in links %}
    <li>
        <a href="{{ path('view_category', {'slug': link.slug}) }}">{{ link.title }}</a>
        {% if link.__children %}
            <ul>
                {% include "CoreBundle:Includes:tree.html.twig" with {'links': link.__children} %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
